<div id="probeChartContainer" phx-update="ignore">
  <canvas id="probeChart" phx-update="ignore" phx-hook="Chart" data-devices={"#{Jason.encode!(Map.values(@devices))}"} width="100%" height="100%"></canvas>
</div>
